{% extends 'base.html' %}

{% block header %}
<title>kemuのブログ | Profile</title>
<meta property="og:title" content="kemuのブログ | Profile" >
{% endblock %}
{% block content %}
<h2>著者プロフィール</h2>

<p>2017年からC言語/C++を利用してマイコン開発を、2018年頃からDjango, Angularを用いた開発を行い実務インターンなどに参加。</p>
<p>その後、大学4年次にK-techとして個人事業主に独立。</p>

<p>大学4年次にBeProudにアルバイトとして入社し卒業時に正社員に移行、現在は個人事業主を継続しながらソフトウェアエンジニアとして勤務。</p>

<hr />
<h3>監修本</h3>
<ul class="list-group list-group-flush">
    <a class="list-group-item" href="https://amzn.to/3GUf8rA">Pythonふりがなプログラミング パターン文例80 ふりがなプログラミング</a>
    <a class="list-group-item" href="https://amzn.to/3IVmInA">スラスラ読める Pythonふりがなプログラミング スクレイピング入門</a>
</ul>
<hr />

<a href="https://github.com/kemu3007">github</a>
<a href="https://twitter.com/kemu43">twitter</a>
{% endblock %}