{% extends 'base.html' %}

{% block header %}
<title>kemuのブログ | {{ article.title }}</title>
<meta name="og:title" content="kemuのブログ | {{ article.title }}" >
{% endblock %}
{% block content %}
<h2>
  {{ article.title }}
</h2>
<i class="bi bi-eye"></i>&nbsp;{{ article.view_count }}&nbsp;<i class="bi bi-chat-left"></i>&nbsp;{{ article.ref_comments.count }}
<div class="d-flex justify-content-between">
  <p>
    作成日: {{ article.created_at | date }}
  </p>
  <p>
    更新日: {{ article.updated_at | date }}
  </p>
</div>
<div class="markdown-body">
  {{ markdown_contents | safe }}
</div>
<div class="mt-4">
  <h3 #comment>Comments</h2>
  {% for comment in comments %}
  <div class="card">
    <div class="card-body text-secondary">
      <div class="d-flex justify-content-between">
        {% if comment.is_master %}
          <p class="text-danger">kemu</p>
        {% else %}
          <p>{{ comment.name }}({{ comment.ip_address }})</p>
        {% endif%}
        <p>{{ comment.created_at }}</p>
      </div>
      {{ comment.contents }}
    </div>
  </div>
  {% endfor %}
</div>
<hr />
<div class="card">
  <div class="card-body text-secondary">
    <form onsubmit="addComment(); return false;">
      {% csrf_token %}
      <label for="commentName" class="form-label">表示名</label>
      <input class="form-control" id="commentName" required>
      <label for="commentContents" class="form-label">内容</label>
      <textarea class="form-control" id="commentContents" rows="3" required></textarea>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="commentCheck" required>
        <label class="form-check-label" for="commentCheck">
          送信した内容、送信元IPアドレスが公開されることを理解しています。
        </label>
      <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="btn btn-primary">コメントする</button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
addCommentQuery = `mutation($name: String!, $contents: String!) {
  addComment(input: {
    article: {{ article.id }},
    name: $name,
    contents: $contents,
  }) {
    comment {
      id
    }
  }
}`

function addComment() {
  const comment = {
    name: document.getElementById("commentName").value,
    contents: document.getElementById("commentContents").value
  }
  fetch('/api/v1/graphql/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'X-CSRFToken': Cookies.get('csrftoken'),
    },
    body: JSON.stringify({
      query: addCommentQuery,
      variables: comment,
    })
  }).then((res) => {
    res.json().then(data => {
      if ("errors" in data) {
        alert(data.errors.map(error => error.message))
      } else {
        window.location.hash = "#comment"
        window.location.reload()
      }
    })
  }).catch(error => alert(error))
}
</script>
{% endblock %}
