{% extends 'base.html' %}

{% block header %}
<title>kemuのブログ</title>
<meta property="og:title" content="kemuのブログ">
<meta property="og:description" content="SEの独り言を残しておく場所" >
{% endblock %}
{% block content %}
  <a class="btn btn-sm btn-secondary" href="{% url 'article_list' %}">ALL</a>
  {% for tag in Tags %}
    <a class="btn btn-sm text-white" style="background-color: {{ tag.color }};" href="{% url 'article_list' %}?tag={{tag.id}}">{{ tag.name }}</a>
  {% endfor %}
  {% for article in object_list %}
  <a class="card mt-2 no-deco" href="{% url 'article_detail' article.uuid %}">
    <div class="card-body text-secondary">
      <div class="card-title d-flex justify-content-between">
        <div>
          {{ article.title }}
        </div>
        <div class="text--black">
          {{ article.created_at | date }}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          {% for tag in article.tags.all %}
            <span class="badge" style="background-color: {{ tag.color }};">{{ tag.name }}</span>
          {% endfor %}
        </div>
        <div>
          <i class="bi bi-eye"></i>&nbsp;{{ article.view_count }}&nbsp;<i class="bi bi-chat-left"></i>&nbsp;{{ article.ref_comments.count }}
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  <div class="d-flex justify-content-center mt-2">
    <a class="bi bi-chevron-left page-navi {% if not page_obj.has_previous %}event-disabled{% endif %}" href="?page={{ page_obj.number | add:-1 }}"></a>
    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
    <a class="bi bi-chevron-right page-navi {% if not page_obj.has_next %}event-disabled{% endif %}" href="?page={{ page_obj.number | add:1 }}"></a>
  </div>
{% endblock %}
