{% extends 'base.html' %}

{% block content %}
  {% for article in object_list %}
  <a class="card mt-2" href="{% url 'article_detail' article.uuid %}">
    <div class="card-body text-secondary">
      <div class="card-title d-flex justify-content-between">
        <div>
          {{ article.title }}
        </div>
        <div class="text--black">
          {{ article.created_at | date }}
        </div>
      </div>
      {% for tag in article.tags.all %}
        <span class="badge" style="background-color: {{ tag.color }};">{{ tag.name }}</span>
      {% endfor %}
    </div>
  </a>
  {% endfor %}
{% endblock %}
