{% extends 'base.html' %}

{% block header %}
<title>kemuのブログ | contact</title>
<meta name="og:title" content="kemuのブログ | contact" >
{% endblock %}
{% block content %}
<h2>Contact</h2>
<div class="card">
  <div class="card-body text-secondary">
    <form onsubmit="addContact(); return false;">
      {% csrf_token %}
      <label for="name" class="form-label">name</label>
      <input class="form-control" id="name" required>
      <label for="email" class="form-label">email</label>
      <input class="form-control" id="email" type="email" required>
      <label for="contents" class="form-label">contents</label>
      <textarea class="form-control" id="contents" rows="3" required></textarea>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="commentCheck" required>
        <label class="form-check-label" for="commentCheck">
          送信した内容、送信元IPアドレスが記録されることを理解しています。
        </label>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
addContactQuery = `mutation($name: String!, $email: String!, $contents: String!) {
  addContact(input: {
    name: $name,
    email: $email,
    contents: $contents,
  }) {
    contact {
      id
    }
  }
}`

function addContact() {
  const contact = {
    name: document.getElementById("name").value,
    email: document.getElementById("email").value,
    contents: document.getElementById("contents").value
  }
  fetch('/api/v1/graphql/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'X-CSRFToken': Cookies.get('csrftoken'),
    },
    body: JSON.stringify({
      query: addContactQuery,
      variables: contact,
    })
  }).then((res) => {
    res.json().then(data => {
      if ("errors" in data) {
        alert(data.errors.map(error => error.message))
      } else {
        window.location.reload()
      }
    })
  }).catch(error => alert(error))
}
</script>
{% endblock %}
