<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>けむの忘備録</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container">
            <a href="/"><font color="black">けむの忘備録</font></a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">記事一覧</a>
            </div>
        </div>
        </div>
    </nav>
    <hr>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="/" class="list-group-item list-group-item-action">全ての記事</a>
                    {% for category in all_category %}
                        <a href="/?category={{ category.id }}"
                           class="list-group-item list-group-item-action">{{ category.name }}({{ category.count_post }})</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="bottom">
        <hr>
        <div class="container">
            <p>created by k-murakawa</p>
            <p>email: k-murakawa[@]hpa.bio</p>
            <div class="row">
                <div class="col-sm-12" align="right">
                    {% if request.user.is_authenticated %}
                        <a href="/admin">管理サイトへ</a>(現在の権限：管理者)
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
