{% extends 'base.html' %}
{% block sidebar %}
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">全ての記事</a>
        {% for category in all_category %}
            <a href="/?{{ category.id }}"
               class="list-group-item list-group-item-action">{{ category.name }}({{ category.count_post }})</a>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <p>送信者名</p>
            {{ form.send_by }}
            <p>コメント内容</p>
            {{ form.contents }}
        </div>
        <button class="btn btn-default" type="submit">save</button>
    </form>
{% endblock %}