{% extends "base.html" %}

{% block header %}
<title>kemuのブログ | CSVTOMD Convertor</title>
<meta property="og:title" content="kemuのブログ | CSVTOMD Convertor" >
{% endblock %}
{% block content %}
<h2>CSVTOMD Convertor</h2>
<div class="row border-top border-bottom" style="height: 80%; overflow-y: scroll;">
    <div class="col-6">
        <textarea 
            oninput="syncHtml()" 
            style="height: 100%; tab-size: 4;" 
            class="form-control" 
            id="csv"></textarea>
    </div>
    <div class="col-6">
        <div class="d-flex flex-row-reverse" >
            <button class="btn btn-sm btn-outline-primary" style="position: absolute;" onclick="copyText()"><i class="bi bi-clipboard"></i></button>
        </div>
        <div id="output" style="white-space: break-spaces;"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/csv-to-markdown-table@1.1.0/lib/CsvToMarkdown.min.js"></script>
<script type="text/javascript">
function syncHtml() {
    const csv = document.getElementById("csv").value
    document.getElementById("output").innerText = csvToMarkdown(csv, ",", true)
}
function copyText() {
    window.navigator.clipboard.writeText(document.getElementById("output").innerText)
}
</script>
{% endblock %}
