{% extends 'base.html' %}

{% block header %}
<title>kemuのブログ | 便利ツール集</title>
<meta property="og:title" content="kemuのブログ | 便利ツール集" >
{% endblock %}
{% block content %}
<h2>便利ツール集</h2>
<p>鍵マークの記載してある機能は有料機能になるため<a href="{% url 'contact' %}">Contact</a>より問い合わせを行ってください。</p>
<button class="card w-100 mt-2 no-deco" onclick="window.location.href='{% url "utils_qrcode" %}'">
  <div class="card-body w-100 text-secondary">
    <div class="card-title d-flex justify-content-between">
      QRコードジェネレータ
    </div>
    <p class="card-text text-start">任意の文字列をQRコードに変換します。</p>
  </div>
</button>
<button class="card w-100 mt-2 no-deco" onclick="window.location.href='{% url "utils_markdown" %}'">
  <div class="card-body w-100 text-secondary">
    <div class="card-title d-flex justify-content-between">
      Markdown Editor
    </div>
    <p class="card-text text-start">markdown記法で書かれた文字列をHTMLで表示します。</p>
  </div>
</button>
<button class="card w-100 mt-2 no-deco" onclick="window.location.href='{% url "utils_csv_to_md" %}'">
  <div class="card-body w-100 text-secondary">
    <div class="card-title d-flex justify-content-between">
      CSV to MD table
    </div>
    <p class="card-text text-start">コンマ区切りで入力されたcsvをMarkdownテーブル形式に変換します。</p>
  </div>
</button>
<button class="card w-100 mt-2 no-deco" onclick="window.location.href='{% url "utils_rakuten" %}'" {% if not user.is_authenticated %} disabled {% endif %}>
  <div class="card-body w-100 text-secondary">
    <div class="card-title d-flex justify-content-between">
      楽天カード履歴変換<i class="bi bi-lock"></i>
    </div>
    <p class="card-text text-start">楽天カードの利用履歴PDFからデータを抽出し、csvに変換します。</p>
  </div>
</button>
<button class="card w-100 mt-2 no-deco" onclick="window.location.href='{% url "utils_mufj_debit" %}'" {% if not user.is_authenticated %} disabled {% endif %}>
  <div class="card-body w-100 text-secondary">
    <div class="card-title d-flex justify-content-between">
      MUFJ Debit履歴変換<i class="bi bi-lock"></i>
    </div>
    <p class="card-text text-start">MUFJ Debitカードの利用履歴PDFからデータを抽出し、csvに変換します。</p>
  </div>
</button>
{% endblock %}
